
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

body {
   font-family:sans-serif;
}

.clearfix::after,
.clearfix::before {
    content: "";
    display: block;
    clear: both;
}

.main-title {
    text-align: center;
    margin-bottom: 40px;
}

img {
    width: 100%;
}

[class*='button'] {
    cursor: pointer;
}

.open-menu {

    max-height: 20px !important;


}

/*===========================
HEADER 
=============================*/

/*==========
HEADER BAR
*/
.header__bar {
    width: 100%;
    position: absolute;
    background: rgba(10, 10, 20, 0);
}

.header__bar__top {
    padding: 20px 20px;
}

@media only screen and (min-width: 992px) {
    .header__bar {
        background: rgba(0, 0,0,0);
    }

    .header__bar__top {
        padding: 40px;
    }

    .header__bar {
        padding: 1px 5px;
    }
}
.header__bar .iconcubi{
    float:left;
    margin: 10px 2px;
    width: 5%;
    
}
.header__bar .logo {
    position: relative;
   font-size: 40px;
    color: red;
}


@media only screen and (min-width: 992px) {
    .header__bar__top .logo {
        line-height: 58px;

    }
}

.header__bar__top .btnmenu {

    margin-top: 10px;
    width: 30px;
    height: 20px;
    background-color: transparent;
    background-image: url(img/menu-icon.png);
    border: 0;
    background-size: cover;
    float: right;
}

@media only screen and (min-width: 992px) {
    .header__bar__top .btnmenu {
        display: none;
    }
}

.header__bar__menu {
    overflow: hidden;
    transition: all .3s;
    max-height: 0;
    background: rgba(0, 0, 0, 0);
}

@media only screen and (min-width: 992px) {
    .header__bar__menu {
        margin-top: -60px;
        margin-left: 30px;
        background: transparent;
       
    }
}

.header__bar__menu ul {
    list-style: none;
    text-align: center;
}

.header__bar__menu ul a {
    display: inline-block;
    padding: 25px;
    color: rgba(246, 3, 3);
    text-decoration: none;
}

.header__bar__menu ul a:hover {
    color: rgb(66, 166, 224) !important;
}

/*menu media querys*/
@media only screen and (min-width: 992px) {
    .header__bar__top {
        float: left;
    }

    .header__bar__menu {
        max-height: none;
        color:black;
        display: block;
        float: right;

    }
    header__bar__menu .color{
        color:black;
    }

    .header__bar__menu ul li {
        display: inline-block;
    }

    .header__bar__menu ul li a {
        display: inline-block;
        padding: 0 40px;
        line-height: 65px;
        font-size: 1.2rem;
    }

    .header__bar__menu ul li:last-child a {
        display: inline-block;
        padding-right: 0;
        line-height: 65px;
    }

    .header__bar__menu ul li a:hover {
        color: blue;
    }
}

/*==========
HEADER HERO
*/
.header__hero {
    height: 200vh;
    max-height: 600px;
    background-image: url("img/FondoUltimoPlx.png");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    padding: 0 40px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

@media only screen and (min-width:200) {
    .header__hero {
        max-height: 520px;
        padding: 50px;

    }
}

.header__hero__content {
    margin-top:100px;
     
}
.CTA{
    
    margin-top: 200px;
    
    text-align: center;
}
.Button_CTA {
    text-decoration: none;
    text-align:center;
    border-radius:.1999rem;
    transition:.3s ease-in-out;
    display:inline-block;
    border:0;
    font-family:inherit;
    font-weight:600;
    background-color:#FC9E40;
    color:#fff;
    padding:1.411em 2em 1.211em;
    font-size:1.5rem;
    min-width:4.277rem

}
.Button_CTA:hover{
    background-color: #bdbdbd;
    border: 1px solid #bdbdbd;

}
@media only screen and (min-width: 992px) {
    .header__hero__content {
        width: 40%;
        text-align: justify;
    }
}


@media only screen and (min-width: 992px) {
    .header__hero__content .slogan {
        font-size: 3rem;
    }
}

.header__hero__content .paragraph {
    background: rgba(0, 0, 0, 0);
    color: black;
    font-size: 14rem;
    text-align: justify;
    text-align: center;
    margin-bottom: 10px;
}
.header__hero__content .paragraph2 {
    top: 20px;
    text-align: center;
    color: black;
     text-align: justify;
    font-size: 1.5rem;
     margin-bottom: 30px;
   
}

@media only screen and (min-width: 100px) {
    .header__hero__content .paragraph {
        font-size: 2rem;
    }
}

.container-buttons {

    text-align: center;
    margin-top: 50px;
}

.container-buttons .button {
    height: 50px;
    width: 150px;
    max-width: 150px;
    min-width: 150px;
    margin-right: 2px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;

}

.conocermas {
    border: 1px solid rgba(255, 255, 255, 0.562) !important;
    color: white !important;
    font-size: 1.1em;
    background: rgba(7, 7, 7, 0.555) !important;
}

.conocermas a {
    color: white !important;
    text-decoration: none;
}

@media only screen and (min-width: 992px) {
    .header__hero__content .container-buttons {
        text-align: left;
        margin-top: 10px;
        display: flex;

    }

    .header__hero__content .container-buttons .button {
        width: 25%;
        margin-right: 25px;

    }
}

.header__hero__content .container-buttons .button:first-child {
    display: none;
}

@media only screen and (min-width: 992px) {
    .header__hero__content .container-buttons .button:first-child {
        display: inline-block;
    }
}

.header__hero__aside {
    display: block;
    width: 100%;

}

.header__hero__aside .video-container {
    left:70px;
    top:-5px;
    margin: 10px;
    width: 50%;
    height: 100;
    padding-top: 45%;
    position: absolute;
}

.header__hero__aside iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@media only screen and (min-width: 992px) {
    .header__hero__aside {
        display: block;
        width: 60%;

    }

    .header__hero__aside .video-container {
        margin: auto;
        width: 75%;
        height: 0;
        padding-top: 45%;
        position: relative;
    }

    .header__hero__aside iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

/*=====================================
SECTION CALL TO ACTION
==================================*/
.call2action {
    background-image: url(img/last6.jpg);
    background-size:cover;
    background-repeat: None;
    background-attachment: fixed;
    position: relative;
}

.call2action .gradient {
    background-size: inherit;
    background-repeat: None;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.call2action .container {
    position: relative;
    margin: auto;
    width: 100%;
    height: 310px;
}

@media only screen and (min-width: 992px) {
    .call2action .container {
        position: relative;
        margin: auto;
        width: 60%;
        height: 310px;
    }
}

.call2action .container [class*="container"] {
    float: left;
}

.call2action .img-container {
    display: none;
}

@media only screen and (min-width: 992px) {
    .call2action .img-container {
        display: block;
        width: 50%;
        height: 100%;
        position: relative;
    }

    .call2action .img-container img {
        max-width: 370px;
    }
}

.call2action .content-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    color: white;
    text-align: center;
}

@media only screen and (min-width: 992px) {
    .call2action .content-container {
        text-align:end;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        color: white;
    }
}

.call2action .content-container .title {
    margin-bottom: 20px;
    font-size: 1.8em;
}

.call2action .content-container .phrase {
    font-size: 1.2rem;
}

.call2action .content-container .container-buttons {
    margin-top: 20px;
    text-align: center;
}

@media only screen and (min-width: 992px) {
    .call2action .content-container .container-buttons {
        margin-top: 20px;
        text-align: left;
    }
}

.call2action .img-container img {
    width: 60%;
    position: absolute;
    bottom: 0;
    right: 10px;

}

/*=============SECCION PLANES========================*/
.plans {
    overflow: hidden;
    background-color:black;
background-size:cover;
}

.plans .container {
    
    text-align: center;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    background-image: url(img/escheresque_@2X.png)
    
}

.plans .icon {
    margin: 40px 40px;
    width: 20%;
}

.main-title {

    margin-top: 60px;
    font-size: 2.2rem;
}

.plans .card-plan {
    margin: 0 10px 60px 10px;
    display: inline-block;
    background: rgb(255, 255, 255);
    padding: 40px;
}

.plans .card-plan .dummy-feature {
    visibility: hidden;
}

.plans .card-plan .card-plan_title {
    text-align: center;
    margin: 0 0 0px 0;
    font-size: 3rem;
    font-weight:lighter;
}

.plans .card-plan .card-plan_price {
    color: purple;
    font-size: 3rem;
    margin-bottom: 30px;
}

.plans .card-plan ul {
    list-style: none;

    justify-content: center;
}

.plans .card-plan ul li {
    padding-left: 20px;
    display: inline-block;
    margin-bottom: 23px;
    background-image: url(img/check.png);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: left center;
}

.plans .card-plan .card-plan_btn {
    cursor: pointer;
    background: purple;
    border-radius: 30px;
    color: white;
    padding: 15px;
    margin-top: 5px;

}

/*SOBRE NOSOTROS ====================*/
.about {
    padding-bottom: 60px;
    text-align: center;
}

.card-member {
    display: inline-block;
    width: 70%;
    padding: 10px;
    margin-bottom: 20px;

}

@media only screen and (min-width: 992px) {
    .card-member {
        display: inline-block;
        width: 20%;
        padding: 20px;
        margin: 0 10px;
    }
}

.card-member .photo {
    width: 50%;
}

.card-member .card-member_name {
    color: rgb(54, 54, 54);
    padding: 12px;
}

.card-member .card-member_ocupation {
    margin-bottom: 15px;
    color: rgb(75, 75, 75);
}

.card-member .card-member_description {
    color: rgb(75, 75, 75);
    text-align: justify;
}

.card-member .icon {
    margin: 20px 3px;
    width: 10%;
}
.ImgAndroid{
      text-align: center;
}
.ImgAndroid .icon{
     margin: 24px 6px;
    width: 30%;
    
}
::-webkit-scrollbar {
    display: none;
}
@-moz-document url-prefix() {
    html,body{overflow: hidden !important;}
}